body {
  margin: 0;
  height: 100vh;
  background-image: url('kate.jpg');
  background-size: contain;    
  background-position: center; 
  background-repeat: no-repeat;
  background-color: #000;      
}
